# Blob Storage
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_ACCESS_KEY=
AZURE_STORAGE_ACCOUNT=
AZURE_STORAGE_CONTAINER_IMAGES=images
AZURE_STORAGE_CONTAINER_LIBRARY=library

# Azure Service Principal Authentication
AZURE_CLIENT_ID=
AZURE_TENANT_ID=
AZURE_CLIENT_SECRET=

# Azure Foundry GPT-IMAGE-1 Model
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_DEPLOYMENT_NAME=
AZURE_OPENAI_4o_API_VERSION=
AZURE_OPENAI_API_KEY=

# Azure OpenAI 4o
AZURE_OPENAI_4o_ENDPOINT=
AZURE_OPENAI_4o_API_DEPLOYMENT_NAME=
AZURE_OPENAI_4o_API_VERSION=
AZURE_OPENAI_4o_API_KEY=

# Azure AI Foundry (for FLUX)
AZURE_AI_FOUNDRY_ENDPOINT=
AZURE_AI_FOUNDRY_API_KEY=
FLUX_DEPLOYMENT_NAME=

# Other APIs
GOOGLE_GEMINI_API_KEY=