# Blob Storage
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_ACCESS_KEY=
AZURE_STORAGE_ACCOUNT=
AZURE_STORAGE_CONTAINER_IMAGES=images
AZURE_STORAGE_CONTAINER_LIBRARY=library

# Azure OpenAI Image Service
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_DEPLOYMENT_NAME=
AZURE_OPENAI_API_VERSION=
AZURE_OPENAI_API_KEY=

# Azure OpenAI 4o
AZURE_OPENAI_4o_ENDPOINT=
AZURE_OPENAI_4o_API_DEPLOYMENT_NAME=
AZURE_OPENAI_4o_API_VERSION=
AZURE_OPENAI_4o_API_KEY=

# Other APIs
GOOGLE_GEMINI_API_KEY=
PEXELS_API_KEY=
ZYTE_API_KEY=